doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  script(src='/scripts/jquery.js')
  link(rel='stylesheet' href='/css/index.css')
input#display(type='hidden' readonly='' value= display)
.nav 
 select#selection(name="select" value= select) 
  option(value="numbers") numbers
  option(value= "words") words
.main
 .container#numbers
   h1#title1  For Numbered Problems:
   form(action='/api/answer1' method='post' autocomplete="off")
     label Problem: 
     br
     input#problem(type='text' name='problem' autocomplete="off")
     br
     br
     button#submit Submit
   h1  Answer 1: 
   input#answer1(type='text' readonly='' value= answer1)
   br
   br
   button#copy1 Copy
   span#myTooltip1
script.
  $(document).ready(function (){
  let copy1 = $("#answer1").val()
  $("#copy1").on('click' ,function () {
      var copyText = $("#answer1").val()
      navigator.clipboard.writeText(copyText)
      var tooltip = $("#myTooltip1");
      tooltip.html("Copied: " + copyText)
      tooltip.fadeOut(1000)
  })
  $('#selection').on('change', function (){
    window.location = window.location.origin + "/options?display=" + $(this).val() 
  })
  })
