doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  script(src='/scripts/jquery.js')
  link(rel='stylesheet' href='/css/index.css')
input#display(type='hidden' readonly='' value= display)
.nav 
 select#selection(name="select") 
  option(value="numbers" selected=numbers) numbers
  option(value= "words" selected=words) words
  option(value="words2" selected=words2) words2
.main
 .container#words
   h1#title2  For Worded Problems:
   form(action='/api/answer3' method='post' autocomplete="off")
     label Full Text: 
     br
     textarea#fulltext(name="fulltext", cols="30", rows="10") 
     br
     br
     button#submit3 Submit
   h1  Answer 3: 
   br
   input#answer3(type='text' readonly='' value= answer3)
   br
   br
   button#copy3 Copy
   span#myTooltip3
script.
  $(document).ready(function (){
  let copy3 = $("#answer3").val()
  $("#copy3").on('click', function () {
      var copyText = $("#answer3").val()
      navigator.clipboard.writeText(copyText)
      console.log(navigator.clipboard)
      var tooltip = $("#myTooltip3");
      tooltip.html("Copied: " + copyText)
      tooltip.fadeOut(1000)
  })
   $(document).on('keypress',function(e) {
    if(e.which == 13 && $('#fulltext').val().trim() !== '') {
      $('#submit3').trigger('click')
    }
  });
  $('#selection').on('change', function (){
    window.location = window.location.origin + "/options?display=" + $(this).val() 
  })
  })
